body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #2E2F42;
}

ul {
    list-style-type: none;
}



a:hover {
    color: #404BBF;
}

button {
    cursor: pointer;
}

span {
    color: #2e2f42;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
}

.address-info {
    font-style: normal;
}

.hero-section {
    background-color: #2E2F42;
}

.our-team-section {
    background-color: #F4F4FD;
}

.footer-section {
    background-color: #2E2F42;
    color: #FFFFFF;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.main-section-paragraf {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.main-section-subheader {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.our-team-section-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.our-team-section-subheader {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.our-team-section-paragraf {
    font-size: 16;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.our-portfolio-section-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.our-portfolio-section-subheader {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.our-portfolio-section-paragraf {
    font-size: 16;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #E7E9FC;
}

.footer-paragraf {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em
}

.link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.link:focus {
    color: #404bbf;
}

.address-email-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-email-link:focus {
    color: #404bbf;
}

.hero-section-header {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.hero-section-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.hero-section-button:hover {
    background-color: #404BBF;
}

.hero-section-button:focus {
    background-color: #404BBF;
}

.main-section-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.span-footer {
    color: #F4F4FD;
}

.our-team-section-li {
    background-color: #FFFFFF;
}